
<html>
	<head>
		<title> Django Girls Blog</title>
	</head>
	<body>
		<div> 
			<h1><a href="">Django Girls Blog</a>
		</div>

		<div>
			<p>published: 23.03.2017, 11:50</p>
			<h2><a href="">My first post</a></h2>
			<p> O Lula molusco nunca vai preso, estou ansioso</p>
		</div>

		<div>
			<p>published: 23.03.2017, 11:55</p>
			<h2><a href="">My second post</a></h2>
			<p>gdgfgiuqhjnvrahgknvbanvioenrvlkanhajskhgj hdhfjkasdhf   lahfheuihfg  hytwfwwddwswsw trrsedaewjhtytrd nhgfds cbdfgtre</p>
		</div>

	</body>

</html>


